apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: trojan
  labels:
    environment: production
    app: nginx
spec:
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
